@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}
.body {
  font-family: 'Maven Pro', sans-serif;
  background-color: #000;
  color: #fff;
  line-height: 1.6;
}

h1{
  font-size: 128px;
}
h2{
  font-size: 100px;
}
h4{
  font-size: 36px;
}


.color1{
  color: #FF00B2;
}

.color2{
  color: #00FFD4;
}

.color3{
  color: #008d76;
}

@media(max-width: 1000px){
  h1{
    font-size: 42px;
  }
  h2{
    font-size: 36px;
  }
}